<!DOCTYPE html>
<html>
  <head>
    <title>BTC2nd-10</title>
    <script src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  </head>
  <body>
    <header>
      <div>
        <div>
          <img class="logo" src="https://cryptologos.cc/logos/avalanche-avax-logo.svg?v=022" alt="">
          <label>아발란시아가</label>
        </div>
        <div>
          <label id="my_wallet" class="wallet">Wallet</label>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="transaction">
        <div id="search_transaction">
          <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          <input type="text" placeholder="Search by Address / Txn Hash / Block / Token" />
        </div>
        <ul id="transaction_ul">
<!--          <li>-->
<!--            <div>-->
<!--              Tx-->
<!--            </div>-->
<!--            <div>-->
<!--              <label>0x65dfjeijfeiwour</label>-->
<!--              <span>10 seconds ago</span>-->
<!--            </div>-->
<!--            <div>-->
<!--              <label><span>From</span> 0x6eccdkdkfjoweijri</label>-->
<!--              <label><span>To</span> 0x7ekldi8ekjfioejiji</label>-->
<!--            </div>-->
<!--            <div>-->
<!--              <label>0.02 AVAX</label>-->
<!--            </div>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
  </body>
</html>
