<!DOCTYPE html>
<html>
  <head>
    <title>BTC2nd-10</title>
    <script src="/javascripts/index.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <header>
      <div>
        <div>
          <img class="logo" src="https://cryptologos.cc/logos/avalanche-avax-logo.svg?v=022" alt="">
          <label>아발란시아가</label>
        </div>
        <div>
          <label id="my_wallet" class="wallet">Wallet</label>
        </div>
      </div>
    </header>
    <div class="content">

    </div>
  </body>
</html>
